<div class="entries-list">Entries for this Feed</div>
<script>
  $(function () {
    var $entriesList = $(".entries-list");
    var entriesData = <%= @entries.to_json.html_safe %>;
    window.NR.initialize($entriesList, entriesData);
  });
</script>